<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film details</title>
</head>
<body>
    <h1 th:text="'About ' + ${film.title}"></h1>
    <!-- <img th:src="@{'/recursos/'} + ${film.poster}" th:alt="Poster from the film"> -->
    

    <!-- provisional hasta que tenga datos en la bd -->
    <ul>
        <li th:text="${film.plot}"></li>
        <li th:text="${film.length}"></li>
        <li th:each="${g : gendres}"></li>
        <li th:text="${g.name}"></li>
    </ul>
    
</body>
</html>