<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film List</title>
</head>
<body>
    <h1>Film List</h1>

    <table border="1">
        <thead>
            <tr>
                <th></th> 
                <th>Title</th>
                <th>Year</th>
                <!-- <th>Director</th> -->
                <!-- <th>Plot</th> -->
                <th>Duration</th>
                <th>Genres</th>
                <!-- <th>Actors</th> -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="film : ${filmList}"></tr>
                <td th:text="${film.poster}"></td>
                <td th:text="${film.title}"></td>
                <td th:text="${film.year}"></td>
                <td th:text="${film.length}"></td>
                <td th:text="${film.genres}"></td>
                <td><a href=""><button>View Details</button></a></td>
        </tbody>
    </table>
</body>
</html>