<!DOCTYPE html>
<html lang="en">

<head th:replace="baseTemplate :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film List</title>
    <link rel="icon" th:href="@{'/images/logotipo.png'}">

</head>

<body style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 10px; ">

    <!-- Barra de navegación -->

    <nav style="background: linear-gradient(to left, #8ED2D2, #FCFCD4);
    margin-bottom: 10px; border-radius: 30px 100px;
    border-color: #324B4B;" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <!-- Logo -->
            <a th:href="@{\home}">
            <img style="margin-left: 20px; margin-right: 40px; height: 70px;" th:src="@{'/images/logotipo2letras.png'}"
                alt="Kinematheque logo">
            <a style="color: #1A6364;" class="navbar-brand" th:href="@{/home}">Kinematheque</a>
            <!-- Botón de colapso del desplegable -->
            <button style="border-radius: 30px 100px;" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color: #1A6364;" class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #1A6364;" class="nav-link" th:href="@{/catalogueSort/}">A - Z</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #1A6364;" class="nav-link" href="#">Best-rated</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Genres
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" th:each="g : ${genres}">
                                <a style="color: #1A6364;" th:text="${g.name}" th:href="@{'/genre/' + ${g.id}}" th:value="g.id">
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" th:href="@{/catalogue/}">All films</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- Botón de login -->
                <a th:href="@{\loginUser}">
                    <button
                        style="justify-content: end; margin-right: 20px; background-color: #FCFCD4; color: #00AAAF; border-radius: 30px 100px;"
                        class="btn btn-secondary">Login</button>
                </a>
            </div>
        </div>
    </nav>

    <!-- Listado de películas -->

    <form class="d-flex">
        <input style="border-radius: 30px 100px;" class="form-control" id="myInput" type="text" placeholder="Search...">
        <button style="background-color: #E2FFFF; color: #00AAAF; margin-top: 10px; border-radius: 30px 100px;"
            class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <table class="table table-hover" style="margin: 20px; border: #1A6364, 2px;">
        <thead>
            <tr style="color: #1A6364;">
                <th>Poster</th>
                <th>Title</th>
                <th>Year</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody id="myTable">
            <tr style="color: #00AAAF; margin: 20px;" th:each="f : ${films}">
                <td>
                    <a th:href="@{/catalogue/} + ${f.id}">
                        <img style="height: 120px;" th:src="@{'/images/'+ ${f.poster}}">
                </td>
                <td th:text="${f.title}"></td>
                <td th:text="${f.year}"></td>
                <td><a th:href="@{/catalogue/} + ${f.id}"><button
                            style="background-color: #FCFCD4; color: #00AAAF; margin-top: 10px; border-radius: 30px 100px;">View
                            Details</button></a></td>
            </tr>
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:replace="baseTemplate :: javascriptsupport" defer></script>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</body>

</html>