<!DOCTYPE html>
<html lang="en">

<head th:replace="baseTemplate :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" th:href="@{/images/logotipo.png}">

</head>

<body style="background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(252,252,212,1) 96%);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 10px;">

    <!-- Barra de navegación -->

    <nav style="background: linear-gradient(to left, #8ED2D2, #FCFCD4);
                margin-bottom: 10px; border-radius: 30px 100px;
                border-color: #324B4B; box-shadow: 4px -3px 5px 0px rgba(26,99,100,1);
                -moz-box-shadow: 4px -3px 5px 0px rgba(26,99,100,1);
                box-shadow: 4px -3px 5px 0px rgba(26,99,100,1);"
        class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <!-- Logo -->
            <a th:href="@{\home}">
                <img style="margin-left: 20px; margin-right: 40px; height: 70px;"
                    th:src="@{'/images/logotipo2letras.png'}" alt="Kinematheque logo">
                <a style="font-weight: bold; color: #1A6364;" class="navbar-brand" th:href="@{/home}">Kinematheque</a>
                <!-- Botón de colapso del desplegable -->
                <button style="border-radius: 30px 100px;" class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a style="color: #1A6364;" class="nav-link active" aria-current="page"
                                th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #1A6364;" class="nav-link" th:href="@{/catalogueSort/}">A - Z</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #1A6364; " class="nav-link" href="#">Best-rated</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Genres
                            </a>
                            <ul style="padding: 30px; border-radius: 30px 30px; background-color: #fbfbe2; border: groove;
                            border-color: #324B4B; box-shadow: 4px -3px 5px 0px rgba(26,99,100,1);
                            -moz-box-shadow: 4px -3px 5px 0px rgba(26,99,100,1);
                            box-shadow: 4px -3px 5px 0px rgba(26,99,100,1);" class="dropdown-menu">
                                <li class="dropdown-item" th:each="g : ${genres}">
                                    <a style="color: #1A6364;" th:text="${g.name}" th:href="@{'/genre/' + ${g.id}}"
                                        th:value="g.id">
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/catalogue/}">All films</a></li>
                            </ul>
                        </li>

                    </ul>
                    <!-- Botón de login -->
                    <a th:href="@{\login}">
                        <button
                            style="border: groove; justify-content: end; margin-right: 20px; background-color: #FCFCD4; color: #00AAAF; border-radius: 30px 100px;"
                            class="btn btn-secondary">Login</button>
                    </a>
                </div>
        </div>
    </nav>

    <!-- Carrusel -->

    <div style="padding-bottom: 40px;" id="carouselExampleDark" class="carousel carousel-dark slide"
        data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div style="padding-bottom: 40px;" class="carousel-inner">
            <div class="carousel-item active">
                <a th:href="@{'/catalogue/46'}" th:value="f.id">
                    <img style="box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                max-width: 1000px; margin: auto;" th:src="@{'/images/midsommar-carousel.jpg'}" alt="Midsommar poster"
                        class="d-block w-100">
                </a>
            </div>
            <div class="carousel-item">
                <a th:href="@{'/catalogue/20'}" th:value="f.id">
                    <img style="box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                max-width: 1000px; margin: auto;" th:src="@{'/images/benjamin-button-carousel.jpg'}"
                        alt="Benjamin Button poster" class="d-block w-100">
                </a>
            </div>
            <div class="carousel-item">
                <a th:href="@{'/catalogue/1'}" th:value="f.id">
                    <img style="box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                    box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.75);
                max-width: 1000px; margin: auto;" th:src="@{'/images/interstellar-carousel.jpg'}"
                        alt="Interstellar poster" class="d-block w-100">
                </a>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <br><br>
    <!-- Cards de generos-->

    <h1 style="text-align: center; font-weight: bold; color: #1A6364; font-style: oblique;">GENRES</h2>

        <div style="margin: 20px; display: flex; place-content: center;" class="images">
            <a th:href="@{'/genre/1'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px; 
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/SCI-FI.PNG'}"
                    alt="SCI-FI genre">
            </a>

            <a th:href="@{'/genre/2'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px; 
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/DRAMA.PNG'}"
                    alt="DRAMA genre">
            </a>


            <a th:href="@{'/genre/3'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/HORROR.PNG'}"
                    alt="HORROR genre">
            </a>


            <a th:href="@{'/genre/4'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/COMEDY.PNG'}"
                    alt="COMEDY genre">
            </a>


            <a th:href="@{'/genre/5'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px; 
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/THRILLER.PNG'}"
                    alt="THRILLER genre">
            </a>

        </div>
        <div style="margin: 20px; display: flex; place-content: center;" class="images">

            <a th:href="@{'/genre/6'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/CRIME.PNG'}"
                    alt="CRIME genre">
            </a>

            <a th:href="@{'/genre/7'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px; 
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/ANIMATION.PNG'}"
                    alt="ANIMATION genre">
            </a>

            <a th:href="@{'/genre/8'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/ACTION.PNG'}"
                    alt="ACTION genre">
            </a>


            <a th:href="@{'/genre/9'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/DOCUMENTARY.PNG'}"
                    alt="DOCUMENTARY genre">
            </a>


            <a th:href="@{'/genre/10'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/CLASSICAL.PNG'}"
                    alt="CLASSICAL genre">
            </a>

        </div>

        <div style="margin: 20px; display: flex; place-content: center;" class="images">

            <a th:href="@{'/genre/11'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/ROMANCE.PNG'}"
                    alt="ROMANCE genre">
            </a>


            <a th:href="@{'/genre/12'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/ADVENTURES.PNG'}"
                    alt="ADVENTURES genre">
            </a>

            <a th:href="@{'/genre/13'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/INDEPENDENT.PNG'}"
                    alt="INDEPENDENT genre">
            </a>


            <a th:href="@{'/genre/14'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/MUSICAL.PNG'}"
                    alt="MUSICAL genre">
            </a>


            <a th:href="@{'/genre/16'}" th:value="g.id">
                <img style="max-width: 100%; width: 200px; margin: 25px;
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
                        box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);" th:src="@{'/images/HISTORICAL.PNG'}"
                    alt="HISTORICAL genre">
            </a>

        </div>

        <script>

            //Get the button:
            mybutton = document.getElementById("btnTop");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = "DOMContentLoaded", function () { scrollFunction() };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }
        </script>

        <script th:replace="baseTemplate :: javascriptsupport"></script>


        <!-- Botón go to top -->
        <button style="border: groove; 
        background-color: #8ED2D2; border-radius: 30px 100px;
        float: right; padding: 10px; margin: 20px;"
        onclick="topFunction()" id="btnTop" title="Go to top">Go to top</button>

</body>

</html>