<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- El atributo action NO HACE falta ya que usaremos Thymeleaf -->
    <form method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Username" required>
        <br><br>
        <input type="text" placeholder="Password" required>
        <br><br>
        <!-- El for de la etiqueta label se corresponde con el id de la etiqueta select -->
        <label for="genero">Facultad</label>
            <select id="genero" required>
                <!-- Saco una facultad recorriendo con un for each facultades -->
                <!-- El atributo value coge el ID y el valor de la etiqueta option coge el nombre -->
                <option value=""></option>
                <option th:each="facultad : ${facultades}" th:value="${facultad.id}" th:text="${facultad.name}"></option>                
            </select>
        <br><br>
        <input type="file" name="imagen" required>
        <br><br>
        <input type="submit" value="Enviar">
    </form>

    <a th:href="@{\listado}">
        <button style="margin: 20px">Volver atrás</button>
    </a>

</body>
</html>